img {
    width: 25%;
}
.cart-item {
    width: 75%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.06);
    transition: transform 0.2s ease-in-out;
    padding: 1em 0;
    gap: 0.1em;
    border-radius: 8px;
    
    p {
        margin: 0;
    }
    h3 {
        margin: 0;
    }  
}
.cart-page {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;

}
.price-button-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;

    p {
        margin: 0;
    }
}
.cart-info {
    margin:0%;
    text-align: center;
    font-size: 20px;
    padding: 0.5em;
    background-color: #fff3e6;

    color: var(--textColor);
    
}
.total-price {
    margin: 0;
    padding: 0.5em; 
    display: flex;
    align-items: center; 
    flex-direction: column;

    p {
        font-size: 18px;
    }
}
.cart-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}
.checkout-button {
    background-color: #9acbcb;
    color: rgb(24, 24, 24);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    font-weight: bold;
}
.checkout-button:hover {
    background-color: #c5d5d5;
}