.add {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 

    h2 {
        margin: 2em 0;
        font-size: 20px;
    }
    
}

.add-item-form { 
    display: flex; 
    flex-direction: column; 
    align-items: center;
    gap: 10px; 
    padding: 1em; 
    margin: 1em 0;

    p {
        margin: 0; 
    }
}

.add-input input {
    width: 245px;
    padding: 10px; 
    border-radius: 4px; 
    border: 2px solid #ccc; 
    font-size: 16px; 
    margin-right: 10px;  
}
.add-new-item {
    cursor: pointer;
    transition: ease-in-out 0.3s;
    padding: 6px 12px;
    font-size: 18px;
    border-radius: 4px;
    margin: 1.5em 0;
}
.add-new-item:hover {
    background-color: var(--ButtonHoverColor);
}

.form-input {
    display: flex;
    flex-direction: column;
}
.error {
    display: flex;
    flex-direction: column;
    color: rgb(174, 71, 71);
    white-space: pre-wrap;
} 
.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
}
.price-input {
    width: 40%;
    font-size: 18px;
    border-radius: 4px;
    padding: 10px;
}
.inputs {
    padding: 10px;
    border-radius: 4px;
    font-size: 18px;
    width: 245px;
}

.name-input {
    font-size: 18px;
}
.tooltip-text {
  visibility: hidden;
  color: var(--textColor);
  text-align: center;
  padding: 6px 8px;
  border-radius: 4px;
  position: absolute;
  z-index: 1;
  bottom: 100%; 
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  white-space: nowrap;
}
.hover-tooltip{
    position: relative;
    display: inline-block;
}
.hover-tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
.confirmation-message {
  color: var(--ButtonBGcolor);
  padding: 6px 12px;
  text-align: center;
  font-size: 14px;
  opacity: 0;
  transform: scale(0.8);
  animation: pop-in 0.5s forwards, fade-out 1s 1.5s forwards; 
}

@keyframes pop-in {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
    transform: scale(0.8);
  }
}

@media (max-width: 600px) {
    .add h2 {
        font-size: 18px;
        margin: 1.5em 0;
    }
}
    