
.toy-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(clamp(200px, 25vw, 300px), 1fr));
    gap: calc(5px + 0.5vw); 
    padding: calc(5px + 0.5vw); 
    width: 100%;
      
}
.img-container {
    width: 40%;
    
}
.toy-card {
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
    gap: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    p {
        margin: 0;
    }
    h3 {
        margin: 0;
    }
}
.search-section {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    padding: 10px;
    width: 100%;
}
.sort-section {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    padding: 10px;
}
.heading {
    font-size: 18px;
}
.toys-container {
    background-color: #ffffff;

    h2 {
        
        margin:0%;
        text-align: center;
        font-size: 20px;
        padding: 0.5em;
        background-color: #78afaf;
        color:rgb(39, 55, 79);
}
}
.add-toy-button {
    background-color: #78afaf;
    color: rgb(24, 24, 24);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    font-weight: bold;
}
.add-toy-button:hover {
    background-color: #5a8c8c;
}
.edit-buttons-section {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding: 10px;
    margin-right: 10px;
    
}