.img-info-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  p {
    margin: 0;
    font-size: 16px;
  }
}

.beach-img, .garden-img {
    width: 50%;
}
.pool-img {
    width: 50%;
}