.header {
    background-color: var(--headerBGcolor);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
nav a {
    color: var(--textColor);
    font-size: 20px;
    padding: 2px 5px;
    border: 1px solid var(--textColor);
    border-radius: 4px;
}
.logo {
    width: 50%;   

}
.navbar {
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 20px;
    max-width: 400px;
    min-width: 100px;
    justify-content: space-between;
}
.cart-bagde{
    color: rgb(245, 242, 242);
    padding: 2px 5px;
    font-size: 12px;
    border: 1px solid rgb(245, 242, 242);
}

.product-heading{
        color: var(--textColor);
        font-size: 20px;
        padding: 2px 5px;
        border: 1px solid var(--textColor);
        border-radius: 4px;
        text-decoration: none;
    
}
.fa-lock {
    float: right;
}
