.header {
    background-color: var(--headerBGcolor);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    a {
        width: 30%;
        color: var(--textColor);
    }
}
.logo {
    width: 50%;   

}
.navbar {
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 20px;
    max-width: 400px;
    min-width: 100px;
    justify-content: space-between;
}

.navbar{

    .heading {
        width:auto;
        color: var(--textColor);
        font-size: 20px;
        padding: 2px 5px;
        border-radius: 4px;
        text-decoration: none;
      
       } 
       a {
        text-decoration: none;
       
       }
}
.fa-lock {
    float: right;
}
