.social-icon {
  width: 24px;
  height: 24px;
  margin: 0 10px;
}
.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: var(--headerFooterBGColor);
  font-size: 14px;

  p {
    margin: 0;
  }
}
.icons-container {
  padding: 10px;
}
.admin-icon-container {
  width:100%;
  display: flex;
  justify-content: center;
  padding: 5px 0;
}

.admin-icon {
    width: 16px;
    height: 16px;
}

.admin-icon-tooltip {
  position: relative;
  display: inline-block;
}

.admin-tooltip-text {
  visibility: hidden;
  opacity: 0;
  color: var(--textColor);
  text-align: center;
  padding: 6px 12px;
  position: absolute;
  left: 250%;        
  bottom: 25%; 
  transform: translateX(-50%);
  transition: opacity 0.3s;
  font-size: 13px;
  width: max-content;
 
}

.admin-icon-tooltip:hover .admin-tooltip-text {
  visibility: visible;
  opacity: 1;
}