
.toy-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(clamp(200px, 25vw, 300px), 1fr));
    gap: calc(5px + 0.5vw); 
    padding: calc(5px + 0.5vw); 
    width: 100%;
      
}
.img-container {
    width: 40%;
    
}
.toy-card {
    border: 2px solid #ccc; 
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    box-shadow: var(--boxShadow);
    transition: transform 0.2s ease-in-out;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: var(--textColor);

    p {
        margin: 0;
    }
    h3 {
        margin: 0;
    }
    .toy-heading {
        font-weight: bold;
    }

}
.sort-section {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    padding: 10px;
}
.toy-heading {
    font-size: 18px;
    padding: 0.2em;
}
.toys-container {
    background-color: #ffffff;

    h2 {
        
        margin:0%;
        text-align: center;
        font-size: 20px;
        padding: 0.5em;
        background-color: var(--headingBGColor);
        color: var(--textColor);
    }
}
.add-toy-button {
    background-color: #9acbcb;
    color: rgb(24, 24, 24);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    font-weight: bold;
    font-family: 'McLaren', sans-serif;
}
.add-toy-button:hover {
    background-color: #c5d5d5;
}
.edit-buttons-section {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding: 10px;
    margin-right: 10px;
    
}
.add-item-button, .edit-toy-button,
.remove-toy-button, .logout-button, .save-button {
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    padding: 4px 8px;
    transition: background-color 0.3s ease;

}
.search-section {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    padding: 10px;
    width: 100%;
   
}
.search-bar {
    max-width: 250px;
    padding: 10px;
    border-radius: 4px;
    border: 2px solid #ccc;
    font-size: 18px;
    margin-right: 10px;
}
.search-button {
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}
.search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    background-color: var(--BeigeBGColor);
    border-radius: 20px;
}
.sort-dropdown {
    padding: 0.2em;
    font-size: 16px;

}
.edit-toy-form {
    margin: 0.2em;
    display: flex;
    flex-direction: column;
    gap: 10px;

    button {
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
        padding: 5px 10px;
        width: 50%;
        transition: background-color 0.3s ease;
    }
}
.edit-input {
    font-size: 16px;
    padding: 6px;
    margin: 4px 2px;
}
.edit-price-input {
    font-size: 16px;
    padding: 4px;
    width: 50%;
}
.edit-img-input {
    font-size: 16px;
    padding: 4px;
    height: 60px;
}
.edit-remove-button {
    display: flex;
    gap: 10px;
}
.admin-heading{
    text-align: center;
}
.category-text {
    font-style: italic;
}
