:root {
    
    --headerFooterBGColor:#f8f2e2;
    --BeigeBGColor:#fff9f2;
    --textColor: rgb(19, 19, 20);
    --whiteColor: rgb(245, 242, 242);
   
  font-family: 'gill-sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
}